@use 'utils/mixins' as mixins;
@use 'utils/variables' as var;

body {
  min-width: 320px;
  font-size: mixins.rem(16);
  line-height: 24px;
  color: var.$text-color;
  letter-spacing: normal;
}

body,
button,
input,
select,
textarea {
  font-family: var.$font-family;
}
